<form class="Auth-form">
    <mat-form-field>
        <input matInput placeholder="Nom" autocomplete="off">
    </mat-form-field><br>
    <mat-form-field>
            <input matInput placeholder="Password" autocomplete="off">
    </mat-form-field><br>

    <button mat-button>Authentification</button>
</form>