<fieldset>
    <button mat-button (click)="changeStatusToRegister()">Sign in</button>
    <button mat-button (click)="changeStatusToSignIn()">Register</button><br>
    <app-sign-in *ngIf="SignInStatus"></app-sign-in>
    <app-register *ngIf="!SignInStatus"></app-register>
</fieldset>