<mat-toolbar>
  <button mat-button routerLink="/Register"><mat-icon >home</mat-icon></button>
  <button mat-button ><mat-icon>Register</mat-icon></button>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>